<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%title%></title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./img/png/icon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!--Google Font Fira-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
    <style type="text/css">
      html,
      body {
        font-family: 'Fira Sans', sans-serif;
      }

      .streak.streak-photo {
        background-attachment: fixed;
      }

      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background: rgb(90, 43, 43) !important;
        }
      }

    </style>
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item disabled">
              <a class="nav-link" href="#">Barbers </a>
            </li>
            <li class="nav-item disabled">
              <a class="nav-link" href="#">Athletes </a>
            </li>
            <li class="nav-item disabled">
              <a class="nav-link" href="#">About The Shop</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.facebook.com/draftpicksBR/" class="nav-link" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/malvo4president" class="nav-link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com/draftpicksbarbershop/" class="nav-link" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('./img/jpg/image6.jpeg'); background-repeat: no-repeat; 
      background-size: cover; background-position: center">

      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light d-flex">
        <div class="container pt-5">
          <div class="row mt-5">
            <div class="col pt-3">
              <!-- Content -->
              <div class="white-text mx-5 mt-3 ml-3">
                <img class="wow fadeIn" data-delay=".04" src=" ./img/png/logo2.png" alt="">
                <h5 class="w-25  wow fadeIn delay-1s ml-2 mt-4">The #1 Sports themed barbershop in Louisiana</h5>
              </div>
              <!-- Content -->
            </div>

          </div>

        </div>
      </div>
      <!-- Mask & flexbox options-->

    </div>
    <!-- Full Page Intro -->

    <!--Main layout-->
    <main>

      <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <img src="./img/jpg/image1.jpeg" class="img-fluid z-depth-1-half rounded" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 my-auto">

              <!-- Main heading -->
              <h3 class="h3 mb-3 font-weight-bold">Draft Picks</h3>
              <p>

              </p>

              <p class="text-muted">Owned by TJ Malveaux</p>
              <!-- Main heading -->

              <hr>

              <p>
                Draft Picks Barbershop is a local Baton Rouge barberhsop that offers professional Grooming & Hairstyling
                in a comfortable sports themed environment.
              </p>
              <p>
                Our Barbers and Stylists are determined to provide our customers with quality service with each visit.
                Draft Picks
                has served some of the notable athletes to come through the state of Lousiana.
              </p> <!-- CTA -->
              <a href="#!" class="btn btn-primary btn-md btn rounded-pill">
                About TJ
                <i class="fas fa-user ml-1"></i>
              </a>
              <a href="#!" class="btn btn-primary btn-md btn rounded-pill">
                Meet The Barbers
                <i class="fas fa-users ml-1"></i>
              </a>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Main info-->
      </div>

      <div class="streak streak-md streak-photo mt-4 mb-2"
        style="background-image:url('./img/jpg/tredavious.jpeg'); background-size: cover;">
        <div class="flex-center white-text rgba-black-light pt-3">
          <ul class="mb-0 list-unstyled p-5">
            <li>
              <h2 class="h2-responsive wow fadeInUp"><i class="fas fa-quote-left" aria-hidden="true"></i> Great place. I
                was really
                impressed by the barber that I selected and I will continue going back! <i class="fas fa-quote-right"
                  aria-hidden="true"></i></h2>
            </li>
            <li class="my-3 wow fadeInUp">
              <span><i class="fas fa-star mr-2 fa-2x yellow-text"></i><i
                  class="fas fa-star mr-2 fa-2x yellow-text"></i><i class="fas fa-star mr-2 fa-2x yellow-text"></i><i
                  class="fas fa-star mr-2 fa-2x yellow-text"></i><i class="fas fa-star fa-2x yellow-text"></i>
              </span>
              <h5 class="text-center font-italic mb-0">~ Andrew L</h5>
            </li>
            <li class="mb-0">
              <span>
                <h3 class="text-center font-italic mt-5 wow fadeInUp">26 other reviews</h3>
                <a class="nav-link h3 text-center mt-2 mb-3 wow fadeInUp"
                  href="https://www.google.com/search?q=draft+picks+barbershop&oq=draft&aqs=chrome.0.69i59l2j69i60j69i57j69i60l2.1044j1j7&sourceid=chrome&ie=UTF-8#lrd=0x8626bb24e8bacc0d:0xd2533fa29c1c3a95,1,,,">Read
                  More</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <!--Section: Main features & Quick Start-->
        <section>

          <h3 class="h3 text-center my-5 font-weight-bold">How to Book An Appointment</h3>

          <!--Grid row-->
          <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 px-4">

              <!--First row-->
              <div class="row">

                <div class="col-1 mr-4 wow fadeInUp">
                  <img
                    href="https://www.styleseat.com/m/p/1070954?utm_source=google&utm_campaign=brand&utm_medium=cpc&utm_term=broad"
                    src=" ./img/png/styleseat2.png" alt="">
                </div>
                <div class="col-10 wow fadeInUp">
                  <h5 class="feature-title">Style Seat</h5>
                  <p class="grey-text">The easiest way to book an appointment with us is with Style Seat. See the times,
                    dates, and hairstyling options we offer all in one place.
                  </p>
                </div>
              </div>
              <!--/First row-->

              <div style="height:30px"></div>

              <!--Second row-->
              <div class="row">
                <div class="col-1 mr-4 wow fadeInUp slow">
                  <i class="fas fa-phone fa-2x"></i>
                </div>
                <div class="col-10 wow fadeInUp slow">
                  <h5 class="feature-title">Call Us</h5>
                  <p class="grey-text">If you don't have Style Seat, or your prefer to call, no problem. We
                    can give you the times available for the current day, straight over the phone.
                  </p>
                </div>
              </div>
              <!--/Second row-->

              <div style="height:30px"></div>

              <!--Third row-->
              <div class="row">
                <div class="col-1 mr-4 wow fadeInUp slower">
                  <i class="fas fa-walking fa-2x"></i>
                </div>
                <div class="col-10 wow fadeInUp slower">
                  <h5 class="feature-title">Walk Ins</h5>
                  <p class="grey-text">We take walk ins at any time, if you can't make an appointment or you forget to
                    call it won't effect much cause we'll sit you.</p>
                </div>
              </div>
              <!--/Third row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">

              <p class="h5 text-center mb-4">Need Directions?</p>
              <div class="embed-responsive embed-responsive-16by9 rounded z-depth-1">
                <iframe class="embed-responsive-item "
                  src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d110126.07950675377!2d-91.11604806123775!3d30.395256316498205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8626bb24e8bacc0d%3A0xd2533fa29c1c3a95!2sDraft+Picks+Barbershop%2C+12333+Jefferson+Hwy+Suite+D%2C+Baton+Rouge%2C+LA+70816!3m2!1d30.395274999999998!2d-91.04600699999999!5e0!3m2!1sen!2sus!4v1558586169439!5m2!1sen!2sus"
                  width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
              </div>
            </div>
            <!--/Grid column-->

          </div>
          <!--/Grid row-->

        </section>
        <!--Section: Main features & Quick Start-->

        <hr class="my-5">

        <h3 class="mb-4 text-center font-weight-bold wow fadeIn">Some Of Our Picks</h3>
        <!--Carousel Wrapper-->
        <div id="carousel-with-lb" class="carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">

          <!--Slides and lightbox-->

          <div class="carousel-inner mdb-lightbox " role="listbox">
            <div id="mdb-lightbox-ui"></div>
            <!--First slide-->
            <div class=" carousel-item active text-center">

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image10.JPG" data-size="1600x1067">
                  <img src="img/jpg/image10.JPG" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image18.JPG" data-size="1600x1067">
                  <img src="img/jpg/image18.JPG" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image12.jpeg" data-size="1600x1067">
                  <img src="img/jpg/image12.jpeg" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/tjAndJamal.png" data-size="1600x1067">
                  <img src="img/jpg/tjAndJamal.png" class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image14.JPG" data-size="1600x1067">
                  <img src="img/jpg/image14.JPG" class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image15.JPG" data-size="1600x1067">
                  <img src="img/jpg/image15.JPG" class="img-fluid">
                </a>
              </figure>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item text-center">

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image16.JPG" data-size="1600x1067">
                  <img src="img/jpg/image16.JPG" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image17.JPG" data-size="1600x1067">
                  <img src="img/jpg/image17.JPG" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image11.jpeg" data-size="1600x1067">
                  <img src="img/jpg/image11.jpeg" class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image19.JPG" data-size="1600x1067">
                  <img src="img/jpg/image19.JPG" class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image20.JPG" data-size="1600x1067">
                  <img src="img/jpg/image20.JPG" class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="img/jpg/image9.jpeg" data-size="1600x1067">
                  <img src="img/jpg/image9.jpeg" class="img-fluid">
                </a>
              </figure>

            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item text-center">

              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg"
                    class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
                    class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg"
                    class="img-fluid">
                </a>
              </figure>

              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
                    class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(56).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(56).jpg"
                    class="img-fluid">
                </a>
              </figure>
              <figure class="col-md-4 d-md-inline-block">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(77).jpg"
                  data-size="1600x1067">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(77).jpg"
                    class="img-fluid">
                </a>
              </figure>

            </div>
            <!--/.Third slide-->

          </div>
          <!--/.Slides-->

          <!--Controls-->
          <div class="controls-top text-center">
            <a class="btn btn-primary rounded-pill" href="#carousel-with-lb" data-slide="prev"><i
                class="fas fa-chevron-left"></i></a>
            <a class="btn btn-primary rounded-pill" href="#carousel-with-lb" data-slide="next"><i
                class="fas fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

        </div>
        <!--/.Carousel Wrapper-->

      </div>

    </main>
    <!--Main layout-->



    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 mt-5 wow fadeIn">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 mx-auto">

            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow Us On Social Media</h5>
            <p>
              Need a haircut?? Call Draft Picks Barbershop today! Great Barbers, great environment!
            </p>

            <p>
              Located in East Baton Rouge at 12333 Jefferson Hwy Ste D.
              225-421-1633 NOW HIRING
            </p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>

            <ul class="list-unstyled">
              <li>
                <a class="disabled" href="#!">TJ Malveaux</a>
              </li>
              <li>
                <a href="tel:2254211633">(225)-421-1633</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-auto mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>

            <ul class="list-unstyled">
              <li>
                <a class="" href=" https://goo.gl/maps/yboXEf9dW1j8cwk17">1233 Jefferson Hwy Suite D</a>
              </li>
              <li>
                <a class="disabled" href="#!">Baton Rouge, LA 70816</a>
              </li>
              <li>
                <a class="disabled" href="#!">United States</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Business Hours</h5>

            <ul class="list-unstyled disabled">
              <li>
                <a href="#!">Mon: Closed</a>
              </li>
              <li>
                <a href="#!">Tues: 9am - 7pm</a>
              </li>
              <li>
                <a href="#!">Wed: 9am - 7pm</a>
              </li>
              <li>
                <a href="#!">Thurs: 9am - 7pm</a>
              </li>
              <li>
                <a href="#!">Fri: 9am - 7pm</a>
              </li>
              <li>
                <a href="#!">Sat: 9am - 7pm</a>
              </li>
              <li>
                <a href="#!">Sun: Closed</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <hr>

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Book With TJ</h5>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-default rounded-pill"
            href="https://www.styleseat.com/m/p/1070954?utm_source=google&utm_campaign=brand&utm_medium=cpc&utm_term=broad">Style
            Seat</a>
        </li>
      </ul>
      <!-- Call to action -->

      <hr>

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/draftpicksBR/">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://twitter.com/malvo4president">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://instagram.com/draftpicksbarbershop/">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>

      </ul>
      <!-- Social buttons -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.instagram.com/draftpicksbarbershop/"> Draft Picks, LLC</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();

      // MDB Lightbox Init
      $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
      });

    </script>
  </body>

</html>
